name: CI

on:
  push:
    branches: [main, master]
  pull_request:
  workflow_dispatch:

jobs:
  build-and-check:
    name: "${{ matrix.platform.id }} | py${{ matrix.python-version }}"
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - id: windows
            runner: windows-2022
          - id: macos
            runner: macos-26
          - id: linux
            runner: ubuntu-22.04
          - id: linux-arm
            runner: ubuntu-22.04-arm
          - id: macos15-arm
            runner: macos-15
          - id: macos15-x86
            runner: macos-15-intel
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install build tooling
        run: python -m pip install build

      - name: Build source and wheel distributions
        run: python -m build --sdist --wheel

      - name: Compile package
        run: python -m compileall -q bsl_universal
